.App {
  position: relative;
  display: grid;
  grid-template-columns: 100vw 300px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  &.with-calendar {
    left: -300px;
    overflow-x: visible;
  }
  a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -1px;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "./assets/reset";
@import "./styles/_Header";
@import "./styles/_Calendar";
@import "./styles/_HeaderMain";
