body {
  overflow: hidden;
}

.App {
  position: relative;
  display: grid;
  grid-template-columns: 100vw 300px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  @media (max-width: 767px) {
    .calendar {
      position: absolute;
      z-index: 2;
      right: 0;
      width: 0;
      transition: all 0.3s ease-in-out;
    }
  }
  &.with-calendar {
    left: -300px;
    overflow-x: visible;
    @media (max-width: 767px) {
      left: 0;
      overflow-x: hidden;
      .calendar {
        width: 100vw;
        .react-datepicker__navigation-icon--next::before {
          left: -20px;
        }
      }
    }
  }
  a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -1px;
  }
  .main-wrap {
    display: flex;
    height: 100%;
    padding-top: 60px;
    background: #ecedf0;
    @media (max-width: 767px) {
      padding-top: 120px;
    }
    .main-content {
      width: 100%;
    }
  }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "./assets/reset";
@import "./styles/_Header";
@import "./styles/_Calendar";
@import "./styles/_HeaderMain";
@import "./styles/_ArtistNav";
@import "./styles/_Artists";
